body {
  background-color: #faedcd;
}

.navbar2 {
  width: 100%;
  padding: 25px 50px;
  background: transparent;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: #525b44;
  z-index: 10;
}

.navbar-content2 {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.logo2 {
  font-size: 1.8rem;
  margin-left: 10px;
  font-weight: bold;
  color: #f8f4ed;
}

.nav-links2 {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-links2 a {
  color: #f8f4ed;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
}

.nav-links2 a.active::after {
  content: "";
  display: block;
  height: 1.5px;
  width: 100%;
  background: #f8f4ed;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.hero-section2 {
  padding: 30px;
}

.hero-section2 .title4 {
  margin-top: 140px;
  font-size: 2.5rem;
  color: black;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.hero-section2 .description4 {
  color: #444;
  max-width: 600px;
  margin: 10px auto 0;
  text-align: center;
  justify-content: center;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.search-filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: #f8ecce;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #e5ecc8;
  border-radius: 30px;
  padding: 8px 15px;
  width: 100%;
  margin-left: 200px;
  max-width: 700px;
}

.search-input {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px;
  font-size: 0.95rem;
  color: #333;
}

.icon {
  font-size: 1.1rem;
  color: #444;
  margin: 0 10px;
  cursor: default;
  cursor: pointer;
}

.sort-box {
  display: flex;
  align-items: center;
  margin-right: 40px;
  gap: 10px;
}

.sort-box label {
  font-size: 0.90rem;
  color: #444;
}

.sort-select {
  padding: 8px 12px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 0.95rem;
  background-color: #faedcd;
  color: #333;
}

.products-grid {
  padding: 0px 40px;
}

.nav-links2 .log-out {
  background-color: #000;
  border-radius: 6px;
  padding: 5px 30px;
}

/* FurnitureItem styles */
.item-page .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 65px;
  background-color: #525B44;
}

.top-bar .back-arrow {
  font-size: 2.5rem;
  color: #f8f4ed;
  cursor: pointer;
}

.item-content {
  display: flex;
  padding: 2rem 4rem;
  font-family: "Kumbh Sans", sans-serif;
  min-height: 70vh;
}

.item-content img {
  width: 500px;
  height: 550px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin-right: 4rem;
}

.details-box {
  max-width: 1000px;
  margin-top: 45px;
}

.details-box .category {
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
  margin-bottom: 0.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.details-box h2 {
  font-size: 32px;
  color: #1d1d1f;
  font-weight: bold;
  margin: 0.5rem 0;
  margin-bottom: 20px;
}

.details-box .rating {
  font-size: 35px;
  color: #000000;
  margin: 0.5rem 0;
  margin-bottom: 25px;
  cursor: pointer;
}

.details-box .price {
  font-size: 28px;
  font-weight: bold;
  margin-top: 1rem;
  color: #1d1d1f;
  margin-left: 5px;
}

.price .old-price {
  text-decoration: line-through;
  color: #000000;
  font-size: 14px;
  margin-left: 0px;
}

.details-box .discount {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  margin-left: 30px;
}

.price {
  margin-bottom: 30px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  background-color: #E9EDC9;
  width: fit-content;
  padding: 10px 10px;
  font-weight: bold;
  border-radius: 12px;
  margin-top: 1rem;
  color: black;
  margin-bottom: 20px;
}

.quantity-selector button {
  background: none;
  border: none;
  font-size: 20px;
  color: #000000;
  padding: 0 10px;
  cursor: pointer;
}

.quantity-selector span {
  font-size: 18px;
  padding: 0 10px;
}

.add-to-cart-btn {
  margin-top: 1.5rem;
  background-color: #5d4037;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.description-section {
  margin-top: 5px;
  margin-left: 70px;
  margin-bottom: 30px;
}

.description-section h3 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: black;
  font-weight: bold;
}

.description-section p {
  color: #5b5a5a;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.description-section a {
  color: #555;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}

.hero-section5 {
  margin-top: 120px;
}