.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.signup-left {
  width: 50%;
  background: linear-gradient(to bottom right, #4b563f, #313d2e);
  color: #fef5da;
  display: flex;
  font-family: Libre Baskerville;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.signup-left h2 {
  font-size: 52px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.signup-left p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #faedcd;
  font-family: Libre Baskerville;
}

.ghost-button {
  padding: 12px 92px;
  font-family: "Segoe UI", sans-serif;
  font-size: 18px;
  background-color: #e9edc9;
  color: #000;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.ghost-button:hover {
  background-color: #fff2d9;
}

.signup-right {
  width: 50%;
  background-color: #fef0cc;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  justify-content: center;
}

.signup-right h1 {
  font-size: 48px;
  text-align: center;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: -20px;
  margin-bottom: 50px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 100px;
  color: black;
  gap: 30px;
}

.input-row {
  display: flex;
  gap: 20px;
}

.input-row input,
input[type="emails"],
input[type="password"] {
  padding: 12px;
  border: 2px solid #b6b5b5;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  background: transparent;
}

.solid-button {
  background-color: #4b563f;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.solid-button:hover {
  background-color: #3c4531;
}

.message {
  text-align: center;
  margin-top: 15px;
  color: red;
}
