@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animation for the slideshow */
@keyframes slider {
  0%, 33% {
    transform: translateX(0);
  }
  33.1%, 66% {
    transform: translateX(-100%);
  }
  66.1%, 100% {
    transform: translateX(-200%);
  }
}